table {
  width: 80%;
  margin: 30px auto;
  border-collapse: collapse;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

th, td {
  padding: 12px 15px;
  text-align: center;
  border-bottom: 2px solid #f0f0f0;
}

th {
  background-color: #007bff;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
}

td {
  font-size: 16px;
  color: #333333;
  background-color: #ffffff;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

footer {
  text-align: center;
  padding: 2px;
  background-color: #007bff;
  color: #ffffff;
  font-size: 16px;
}