table {
  width: 90%;
  margin: 20px auto;
  background-color: #35424a;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 10px 0px #000;
  border-spacing: 0;
}

th, td {
  border-bottom: 1px solid #e8491d;
  padding: 15px;
  color: #ffffff;
  text-align: center;
}

th {
  background-color: #800080;
  font-size: 22px;
  font-weight: normal;
}

td {
  background-color: #f3f3f3;
  color: #35424a;
  font-size: 18px;
}

footer {
  text-align: center;
  margin-top: 30px;
  font-size: 18px;
  color: #35424a;
}
